.communityPage {
    max-width: 1000px;
    margin: 0 auto;
    /* background-color: #000; */
}

.communityPage p {
    margin: 0;
    padding: 0;
}

.communityHeader {
    position: relative;
    height: 350px;
}

.communityHeaderGradientLayer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.611);
}

.communityHeaderBackgroundImage {
    width: 100%;
    height: 350px;
    object-fit: cover;
    filter: blur(5px);
}

.communityHeaderBiggerImageHolder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 170px;
    
}

.communityHeaderBiggerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.communityHeaderSmallerImageHolder {
    position: absolute;
    left: 30px;
    top: 100px;
    height: 120px;
    width: 120px;
    z-index: 5;
    background-color: #fff;
    border-radius: 20px;
}

.communityHeaderSmallerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.communityHeaderDetails {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.commmunityHeaderDetailsLeft,
.commmunityHeaderDetailRight {
    flex: 5;
}

.commmunityHeaderDetailsLeft p {
    color: #fff;
}

.communityHeaderDetailsNameText {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.communityHeaderDetailsDescriptionText {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.communityHeaderDetailsFollowersText {
    font-size: 12px;
    font-weight: 200;
}

.commmunityHeaderDetailRight {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.commmunityHeaderFollowBtn,
.commmunityHeaderInviteBtn {
    margin-right: 20px;
    padding: 10px 25px;
    border-radius: 15px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}


.communityBody {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.communityBodyLeft {
    flex: 6;
    padding: 0 30px 0 0;
}

.communityBodyRight {
    flex: 2.5;
}