#wrapper {
    width: 26%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#formContainer {
width: 100%;
padding: 0 10px 20px 10px;
height: fit-content;
background-color: #fff;
border: 1px solid rgba(0, 0, 0, 0.139);
}
  
#formContentBox {
width: 100%;
height: fit-content;
display: flex;
/* flex-direction: column; */
justify-content: center;
align-items: center;
}

.welcomeTextContainer {
width: 100%;
padding: 5px 0;
display: flex;
justify-content: center;
}

.welcomeTextBig {
font-size: 1rem;
font-weight: 700;
color: #4b4b5a;
}

.googleSignInBtn {
margin-bottom: 10px;
margin-top: 10px;
width: 80%;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid #d1d1d1;
border-radius: 3px;
cursor: pointer;
transition: .2s;
}

.googleSignInBtn p {
margin: 3px 0;
font-size: 0.7rem;
font-weight: 500;
line-height: 30px;
color: #495057;
}

.googleLogo {
margin-left: 5px;
font-size: 1.3rem;
}

.googleSignInBtn:hover {
background-color: rgba(55, 87, 255, 0.05);
color: #eee;
border: 1px solid #50545882;
}

.orTextWrapper {
width: 65%;
display: flex;
justify-content: center;
align-items: center;
}

.orTextWrapper hr {
width: 35%;
}

.orText {
/* margin-bottom: 10px; */
font-size: 0.7rem;
font-weight: 600;
color: #4b4b5a;
}

form {
width: 80%;
font-size: 0.7rem;
}

form .container {
width: 100%;
padding: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.formItem {
margin-bottom: 5px;
}

.formBox {
margin-bottom: 5px;
width: 100%;
display: flex;
justify-content: flex-start;
align-items: flex-start;
}

.formNameBoxContainer {
margin-bottom: 5px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}

.nameFormBox {
width: 48%;
}

.formNameBoxInput {
width: 100%;
}

.firstNameFormBoxInput {
border-top-left-radius: 3px;
border-bottom-left-radius: 3px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}

.lastNameFormBoxInput {
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}

.emailInputContainer {
margin-bottom: 10px;
}

.formBoxInput {
width: 92%;
height: 35px;
padding: 0 10px;
background-color: rgb(240, 240, 240);
border: 1px solid #ccc;
border-radius: 3px;
font-size: 0.8rem;
/* border-bottom-right-radius: 5px; */
}

.formBoxInput:focus-within {
outline: none;
border: 1px solid #50545882;
background-color: rgba(240, 240, 240, 0.393);
/* background-color: rgba(255, 255, 255, 0.578); */
}

.formBoxInput::placeholder {
    font-size: 0.7rem;
}

.formBtn {
margin: 15px 0;
width: 100%;
/* height: 30px; */
padding: 10px 0;
border: none;
border-radius: 3px;
font-size: 0.7rem;
font-weight: 500;
color: #fff;
background-color: #516df8;
cursor: pointer;
transition: .2s;
}

.formBtn:hover {
background-color: #3757FF;
}

.bottomInfoTextContainer{
margin-top: 10px;
width: 100%;
padding: 10px;
display: flex;
justify-content: center;
align-items: center;
background-color: #fff;
border: 1px solid rgba(0, 0, 0, 0.139);
}

.bottomInfoText {
margin: 0;
font-size: 0.7rem;
font-weight: 400;
color: #6c757d;
}