.comment {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.207);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.207); */
    /* background-color: rgba(204, 204, 204, 0.138); */
    background-color: rgba(252, 253, 253, 0.927);
}


.commentHeader {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentHeaderLeftSide {
    flex: 6;
    display: flex;
    align-items: center;
}

.commentHeaderLeftSide .userprofileImage {
    margin-right: 20px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
    /* border: 1px solid #ccc; */
    border-radius: 50%;
}

.commentInfo p {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 15px;
}

.commentInfo .userName {
    font-size: 0.7rem;
    line-height: 15px;
    font-weight: bold;
    cursor: pointer;
}

.userTitle {
    margin-right: 10px;
    font-size: 0.6rem;
    font-weight: 300;
}

.commentBody {
    padding: 5px 35px 5px 70px;
    /* cursor: pointer; */
}

.commentBody p {
    margin: 5px 0;
}

.commentBody .commentBodyText {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px;
}

.commentFooter {
    padding: 5px 20px 5px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-top: 1px solid rgba(0, 0, 0, 0.207); */
}

.commentFooter p {
    margin: 0 0 0 5px;
    font-size: 0.8rem;
    font-weight: 400;
}

.commentfooterLeftSide {
    display: flex;
}

.commentfooterLeftSide .commentLikes,
.commentfooterLeftSide .commentReply {
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentLikes,
.commentReply {
    padding: 2px 5px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.713);
    border-radius: 5px;
    background-color: rgba(227, 226, 226, 0.333);
}

.likeIcon.liked,
.likeCounter.liked {
    color: #2e69ff;
}

.commentReply {
    margin-left: 20px;
}

.commentLikes:hover,
.commentReply:hover {
    background-color: rgba(227, 226, 226, 0.694);
}

.commentReplies.noDisplay {
    display: none;
}

.postAReply {
    margin-left: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(204, 204, 204, 0.138); */
}

.postAReply .profileImage {
    width: 35px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
    /* border: 1px solid #ccc; */
    border-radius: 50%;
}

.postAReply textarea {
    width: 68% !important;
    height: 34px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 8px 10px;
    background: #FFFFFF;
    border: 1px solid #9C9797;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid #9C9797;
}

.postAReplyBtn {
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    font-size: 0.7rem;
    font-weight: 500;
    color: #fff;
    background-color: #516df8;
    cursor: pointer;
    transition: .2s;
}

.postAReplyBtn:hover {
    background-color: #3757FF;
}