.createASpace {
    margin-bottom: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.734);
    background-color: rgba(227, 226, 226, 0.734);
    cursor: pointer;
}

.createASpace:hover {
    background-color: rgba(227, 226, 226, 1);
}

.createASpaceIcon {
    margin-right: 15px;
    padding: 2px;
    border-radius: 50%;
    background-color: rgba(205, 205, 205, 0.726);
}

.createASpace p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    font-weight: 600;
    color: #636466;
}