.login {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* background-color: #ae9ef4; */
  background: rgba(55, 87, 255, 0.05);
}

.loginForm {
  width: 30%;
  height: fit-content;
  padding: 0 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.139);
  border-radius: 6px;
}

.welcomeTextContainer {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.welcomeTextBig {
  font-size: 1.09375rem;
  font-weight: 700;
  color: #4b4b5a;
}

.googleSignInBtn {
  /* margin: 10px 0; */
  width: 60%;
  /* padding: 2px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
}

.googleSignInBtn p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #495057;
}

.googleLogo {
  margin-left: 5px;
  font-size: 1.5rem;
}

.googleSignInBtn:hover {
  background-color: rgba(55, 87, 255, 0.05);
  color: #eee;
  border: 1px solid #d1d1d1;
}

.loginOrText {
  margin-bottom: 10px;
  font-size: 1.09375rem;
  font-weight: 600;
  color: #4b4b5a;
}

.loginTextContainer {
  width: 65%;
  display: flex;
  justify-content: center;
}

.loginText {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  color: #6c757d;
}

form {
  width: 80%;
  /* padding: 10px; */
}

.formLabel {
  font-size: 0.9rem;
  font-weight: 500;
  color: #495057;
}

.rememberMeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rememberMeLabel {
  margin-left: 5px;
  font-size: 0.86rem;
  font-weight: 500;
  color: #495057;
}

form .container {
  width: 100%;
  /* margin-top: 20px; */
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.formItem {
  margin-bottom: 5px;
}

.formBox {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid #eee; */
}

.emailInputContainer {
  margin-bottom: 20px;
}

.formIcons {
  /* font-size: 1rem; */
  width: 8%;
  height: 30px;
  padding: 11px;
  color: #495057;
  border: 1px solid #eee;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.formBoxInput {
  width: 92%;
  height: 28px;
  padding: 10px;
  border: 1px solid #eee;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.formBoxInput:focus-within {
  outline: none;
  border: 1px solid #d1d1d1;
  background-color: rgba(55, 87, 255, 0.05);
}

.login .loginBtn {
  margin: 20px 0;
  width: 100%;
  /* height: 30px; */
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  background-color: #516df8;
  cursor: pointer;
  transition: .2s;
}

.loginBtn:hover {
  background-color: #3757FF;
}

.bottomInfoTextContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomInfoText {
  /* margin-right: 5px; */
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  color: #6c757d;
}


/* .loginImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
  background-color: #dad2ff;
}

.loginImage {
  width: 45%;
  object-fit: cover;
} */