.login {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.loginForm {
  width: 35%;
  height: 100%;
  padding: 0 60px 60px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.309);
}

.welcomeTextContainer {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
}

.welcomeTextBig {
  font-size: 1.09375rem;
  font-weight: 700;
  color: #4b4b5a;
}

/* .welcomeTextSmall {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(146, 146, 146);
} */

.googleSignInBtn {
  margin: 20px 0;
  width: 65%;
  /* padding: 2px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
}

.googleSignInBtn p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #495057;
}

.googleLogo {
  margin-left: 5px;
  font-size: 1.5rem;
}

.googleSignInBtn:hover {
  background-color: #eee;
  color: #eee;
}

.loginOrText {
  margin-bottom: 20px;
  font-size: 1.09375rem;
  font-weight: 600;
  color: #4b4b5a;
}

.loginTextContainer {
  width: 65%;
  display: flex;
  justify-content: center;
}

.loginText {
  font-size: 0.9rem;
  font-weight: 400;
  color: #6c757d;
}

form {
  width: 60%;
}

.formLabel {
  font-size: 0.9rem;
  font-weight: 500;
  color: #495057;
}

.rememberMeLabel {
  margin: 5px 0;
  font-size: 0.9rem;
  font-weight: 500;
  color: #495057;
}

.container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.formItem {
  margin-bottom: 5px;
}

.formBox {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid #eee; */
}

.emailInputContainer {
  margin-bottom: 20px;
}

.formIcons {
  /* font-size: 1rem; */
  width: 7%;
  height: 34px;
  padding: 11px;
  color: #495057;
  border: 1px solid #eee;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.formBoxInput {
  width: 95%;
  height: 32px;
  padding: 10px;
  border: 1px solid #eee;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.formBoxInput:focus-within {
  outline: none;
  border: 1px solid #d1d1d1;
}

.loginBtn {
  margin: 20px 0;
  width: 100%;
  /* height: 30px; */
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  background-color: #927bf9;
  cursor: pointer;
  transition: .2s;
}

.loginBtn:hover {
  background-color: #8166f9;
}

.bottomInfoText {
  margin-right: 5px;
  font-size: 0.9rem;
  font-weight: 400;
  color: #6c757d;
}


.loginImageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  height: 100%;
  background-color: #dad2ff;
}

.loginImage {
  width: 45%;
  object-fit: cover;
}