.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1200px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 255, 255);
}

.header .logo {
    padding-left: 20px;
}

.logo img {
    cursor: pointer;
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.header ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header ul li {
    padding: 0 10px;
    cursor: pointer;
    transition: ease-in-out 0.3s all;
}

.header ul li:hover {
    color: #3757FF;
}

.header .headerBtn {
    padding: 10px 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: ease-in-out 0.3s all;
}

.header .loginBtn {
    color: #000;
    background-color: #EFEEEE;
}

.header .loginBtn:hover {
    color: #000;
}

.signUpBtn {
    color: #fff;
    background-color: #3757FF;
}

.header .signUpBtn:hover {
    color: #fff;
}

.headerBtn:hover {
    box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.166);
}

.headerLeft {
    flex: 1.5;
}

.headerCenter {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerCenter .searchBox {
    width: 78%;
    height: 40px;
    display: flex;
    align-items: center;
    background: rgba(55, 87, 255, 0.05);
    border: 1px solid rgba(55, 87, 255, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}

.headerCenter .searchBox:hover {
    border: 1px solid #d1d1d1;
}

.headerCenter .searchBox:focus-within {
    background: #fff;
    border: 1px solid #d1d1d1;
}

.searchIcon {
    padding: 0 10px;
}

.headerCenter .searchBox input[type='text'] {
    width: 90%;
    height: 90%;
    background: transparent;
    border: none;
}

.headerRight {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.notification {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

}

.notification span {
    position: absolute;
    background-color: red;
    color: #fff;
    font-size: 12px;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2px;
    right: 0;
}



.headerRight .profileImage {
    margin-left: 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.profileImage img {
    width: 100%;
    object-fit: cover;
}