.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-items: center;
    background: rgb(255, 255, 255);
    z-index: 1000;
}

.header-padding {
    padding: 10px 0;
}

.borderBottom {
    border-bottom: 1px solid #dee0e1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.04);
}

.headerContentWrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContentWrapper ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 0.9rem;
    font-weight: 500;
}

.headerContentWrapper ul li {
    padding: 0 10px;
    cursor: pointer;
    transition: ease-in-out 0.3s all;
}

.headerContentWrapper ul li:hover {
    color: #3757FF;
}



/* MEDIA QUERIES */
@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    .headerContentWrapper {
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .headerContentWrapper ul {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
    }

    .headerContentWrapper ul li {
        width: 100%;
        margin-top: 5px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 640px) {
    .headerContentWrapper ul {
        font-size: 0.6rem;
    }
}