.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(249,251,252,0.95);
}

.logo p {
    color: #fb3838;
}

.nav-items {
    width: 45%;
    display: flex;
    justify-content: flex-end;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul li {
    padding: 0 10px;
    cursor: pointer;
}

.loginBtn {
    padding: 10px 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #ff2d2d;
    cursor: pointer;
    transition: ease-in-out 0.3s all;
}

.loginBtn:hover {
    box-shadow: 1px 7px 10px -6px rgba(0,0,0,0.52);
}