.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    min-height: 56px;
    background: rgb(255, 255, 255);
    z-index: 1000;
}

.header-padding {
    padding: 10px 0;
}

.borderBottom {
    border-bottom: 1px solid #dee0e1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.04);
}

.headerContentWrapper {
    margin: 0 auto;
    padding: 8px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.externalPageWidth {
    max-width: 1000px;
}

.inappWidth {
    max-width: 1000px;
}

/* .headerContentWrapper .logo {
    padding-left: 20px;
} */

.headerLeft {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    cursor: pointer;
}

.navLinksToggleBtn {
    display: none;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.5rem;
}

.nav-items {
    width: 57%;
    display: flex;
    justify-content: flex-end;
}

.headerContentWrapper ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 0.9rem;
    font-weight: 500;
}

.headerContentWrapper ul li {
    padding: 0 10px;
    cursor: pointer;
    transition: ease-in-out 0.3s all;
}

.headerContentWrapper ul li:hover {
    color: #3757FF;
}

.headerBtn {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: ease-in-out 0.3s all;
}

#loginBtn {
    padding: 9px 22px;
    color: #516df8;
    border: 0.5px solid #516df8;
}

#loginBtn:hover {
    color: #3757FF;
    border: 0.5px solid #3757FF;
}

#signUpBtn {
    padding: 10px 35px;
    color: #fff;
    background-color: #516df8;
}

#signUpBtn:hover {
    color: #fff;
    background-color: #3757FF;
}

.headerLeft {
    flex: 1.5;
}

.headerCenter {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerCenter .searchBox {
    width: 78%;
    height: 40px;
    display: flex;
    align-items: center;
    background: rgba(55, 87, 255, 0.05);
    border: 1px solid rgba(55, 87, 255, 0.05);
    box-sizing: border-box;
    border-radius: 8px;
}

.headerCenter .searchBox:hover {
    border: 1px solid #d1d1d1;
}

.headerCenter .searchBox:focus-within {
    background: #fff;
    border: 1px solid #d1d1d1;
}

.searchIcon {
    padding: 0 10px;
}

.headerCenter .searchBox input[type='text'] {
    width: 90%;
    height: 90%;
    background: transparent;
    border: none;
}

.headerRight {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.notification {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

}

.notification span {
    position: absolute;
    background-color: red;
    color: #fff;
    font-size: 12px;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2px;
    right: 0;
}



.headerRight .profileImage {
    margin-left: 35px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.profileImage img {
    width: 100%;
    object-fit: cover;
}



/* MEDIA QUERIES */
@media (max-width: 1024px) {

}

@media (max-width: 768px) {

    .headerContentWrapper {
        margin: 0 auto;
        padding: 8px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .headerLeft {
        width: 100%;
    }

    .navLinksToggleBtn {
        display: flex;
        font-size: 1.5rem;
    }

    .navItems {
        display: none;
        margin-top: 30px;
        margin-bottom: 5px;
        width: 100%;
        justify-content: flex-end;
    }

    .navItems.display {
        display: flex;
    }

    .headerContentWrapper ul {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.8rem;
    }

    .headerContentWrapper ul li {
        width: 100%;
        margin-top: 5px;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headerBtn {
        width: 100%;
        font-size: 0.8rem;
    }

    #signUpBtn {
        width: 100%;
        padding: 10px 35px;
        color: #fff;
        background-color: #516df8;
    }

    .headerRight {
        display: none;
    }
    
    .headerCenter {
        display: none;
    }
}

@media (max-width: 640px) {
    .headerContentWrapper ul {
        font-size: 0.6rem;
    }

    .headerBtn {
        font-size: 0.6rem;
    }
}