.sideBar {
    flex: 2.2;
    height: calc(100vh - 70px);
    padding-top: 30px;
    background-color: #fff;
}

.sideBar p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}


.sideBar ul {
    padding: 0;
    list-style: none;
}

.sideBar ul li {
    padding: 15px 20px;
    cursor: pointer;
    transition: ease-in-out 0.3s all;
}

.sideBar ul li:hover {
    background-color: rgba(55, 87, 255, 0.05);;
}

.sideBar ul li p {
    margin-left: 15px;
}

.mainSideBarOptions li {
    display: flex;
    align-items: center;
}

.dropdownIcon {
    padding-left: 5px;
}

.communityList {
    /* display: none; */
    margin-left: 20px;
}

.sideBarCommunityImage {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}