.footer,
.footerLinks,
.SocialLinks,
.company,
.legal,
.getHelp {
    display: flex;
}

.footer {
    position: sticky;
    margin-top: 50px;
    padding: 50px 0 70px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.618);
    font-size: 0.9rem;
}

.footerLogoSection {
    margin-top: 30px;
    margin-right: 50px;
}

.SocialLinks {
    margin-top: 40px;
}

.SocialLinks a {
    margin-right: 10px;
    text-decoration: none;
    color: #000;
}

.footerLinks {
    margin-left: 50px;
    justify-content: space-between;
}

.company,
.legal,
.getHelp {
    margin: 0 30px;
    align-items: flex-start;
    flex-direction: column;
}

.company a,
.legal a,
.getHelp a {
    margin: 10px 0;
}

.footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.618);
}

.footer a:hover {
    color: #000;
}