.landingPage {
    margin-top: 60px;
    width: 100%;
    background-color: #fff;
}

.container {
    max-width: 1028px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Hero Section */
.hero {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.heroText {
    width: 46%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
}

p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.01em;
    text-align: left;
}

.heroText p {
    width: 85%;
    margin: 15px 0 40px 0;
}

#heroBtn {
    margin: 20px 0;
    padding: 15px 55px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #516df8;
    cursor: pointer;
    transition: ease-in-out 0.3s all;
}

#heroBtn:hover {
    background-color: #3757FF;
}


.heroImage {
    width: 46%;
}

.heroImage img {
    width: 100%;
    margin-top: 70px;
}


/* How-It-Works section */
.howItWorks {
    margin-top: 200px;
    width: 100%;
}

.howItWorks .sectionTitle {
    margin: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptionByWords {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.descriptionByWords .subSection {
    width: 30%;
}

.descriptionByWords .effects {
    display: flex;
    align-items: center;
}

.descriptionByWords .dot {
    width: 20px;
    margin-right: 5px;
    height: 20px;
    border-radius: 50%;
    background-color: #FB3838;
}

.descriptionByWords hr {
    width: 90%;
    border: 0.5px dashed #FB3838
}

.smallBox {
    padding-left: 6px;
}

.howItWorks h2 {
    margin: 35px 0;
}

h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}


/* Ignite Your Curiosity */
.igniteYourCuriosity {
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionImage {
    width: 50%;
}

.sectionImage img {
    width: 100%;
}

.sectionTitle {
    margin-bottom: 50px;
}

.sectionTitle h1 {
    margin: 5px 0;
}

.sectionTitle p {
    margin:  5px 0;
    color: #3757FF;
}

.sectionText {
    width: 45%;
}

.sectionText h2 {
    margin: 5px 0;
    font-size: 30px;
}

.sectionText p {
    margin: 5px 0;
}

.subSections .subSection {
    margin: 20px 0;
}


/* About Us */
.aboutUs {
    margin-top: 200px;
    /* padding: 20px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(55, 87, 255, 0.2);
}

.aboutUsContent {
    margin: 30px 0 70px 0;
    max-width: 800px;
    text-align: center;
}

.aboutUsContentTitle {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUsContentTitle h1 {
    margin: 20px 0;
    /* color: #FB0909; */
}

.aboutUsContentParagraph p{
    margin: 0 auto;
    width: 65%;
    text-align: center;
}

/* FAQs */
.faqs {
    margin-top: 100px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faqsContents {
    width: 70%;
}

.faqsContentsTitle {
    width: 100%;
    text-align: center;
}

.faqsQuestionsAndAnswers {
    margin-top: 30px;
}

/* Contact Us */
.contactUs {
    margin-top: 100px;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(55, 87, 255, 0.2);
}

.contactUsContent {
    text-align: center;
}

.contactUsContent h1 {
    margin: 10px;
}

.contactUsContent p {
    text-align: center;
    margin: 15px auto;
    /* width: 30%; */
}

.contactUsForm {
    margin-top: 10px;
    width: 53%;
    height: fit-content;
    padding: 50px 20px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 3px;
    font-size: 0.9rem;
    line-height: 30px;
}

.contactUsForm input[type=text],
.contactUsForm input[type=email] {
    margin: 10px 0;
    width: 85%;
    height: 40px;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #9C9797;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 0.8rem;
}


.contactUsForm textarea {
    min-height: 163px;
    width: 274px !important;
    margin: 15px 0;
    padding: 10px 15px;
    background: #FFFFFF;
    border: 1px solid #9C9797;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 0.8rem;
}

.contactUsForm input::placeholder,
.contactUsForm textarea::placeholder {
    font-size: 0.7rem;
    color: rgb(159, 159, 159);
}

.contactUsForm input::-webkit-input-placeholder,
.contactUsForm textarea::-webkit-input-placeholder {
    font-size: 0.7rem;
    color: rgb(159, 159, 159);
}

.contactUsForm input:-ms-input-placeholder,
.contactUsForm textarea:-ms-input-placeholder {
    font-size: 0.7rem;
    color: rgb(159, 159, 159);
}

.submitBtn {
    margin: 10px 25px 0 auto;
    /* width: %; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.submitBtn input[type=submit] {
    padding: 15px 45px;
    font-size: 0.9rem;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #516df8;
    cursor: pointer;
    transition: ease-in-out 0.3s all;
}

input[type=submit]:hover {
    /* box-shadow: -1px 1px 10px 1px rgba(0, 0, 0, 0.302); */
    background-color: #3757FF;
}

input:focus,
textarea:focus {
    outline: none;
}