.post {
    margin-bottom: 15px;
    /* padding-top: 15px;
    background-color: #fff; */
    /* border-radius: 3px; */
    /* border: 1px solid #ccc; */
}

/* .post:hover {
    background-color: rgb(252, 253, 253);
} */

.postMain {
    padding-top: 15px;
    background-color: #fff;
    /* border: 1px solid #ccc; */
    border-bottom: .5px solid rgba(204, 204, 204, 0.562);
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.postMain:hover {
    background-color: rgba(252, 253, 253, 0.765);
}

.postHeader {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postHeaderLeftSide {
    flex: 6;
    display: flex;
    align-items: center;
}

.postHeaderLeftSide .userprofileImage {
    margin-right: 20px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    cursor: pointer;
    /* border: 1px solid #ccc; */
    border-radius: 6px;
}

.postInfo p {
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    line-height: 15px;
}

.postInfo .userName {
    font-size: 0.7rem;
    line-height: 15px;
    font-weight: bold;
    cursor: pointer;
}

.userName:hover {
    text-decoration: underline;
}

.postInfo .followBtn {
    font-size: 0.7rem;
    font-weight: 400;
    cursor: pointer;
    color: #3757FF;
}

.postInfo .followBtn:hover {
    text-decoration: underline;
}

.userTitle {
    margin-right: 10px;
    font-size: 0.6rem;
    font-weight: 300;
}

.postHeaderRightSide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.postHeaderRightSide .closeIcon {
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 400;
    border-radius: 50%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
}

.closeIcon:hover {
    background-color: rgba(227, 226, 226, 0.333);
}

.postBody {
    padding: 10px 20px 30px 20px;
    /* cursor: pointer; */
}

.postBody p {
    margin: 5px 0;
}

.postBody .postTitleText {
    margin: 5px 0;
    font-size: 1rem;
    font-weight: 700;
    /* line-height: 30px; */
    cursor: pointer;
}

.postTitleText:hover {
    text-decoration: underline;
}

.postBody .postBodyText {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px;
}

.postReadMore {
    display: flex;
    justify-content: flex-end;
}

.postBody .postReadMoreBtn {
    color: #3757FF;
    cursor: pointer;
}

.postReadMoreBtn:hover {
    text-decoration: underline;
}

.postFooter {
    margin-top: 1.5px;
    padding: 5px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    /* border-top: 1px solid rgba(0, 0, 0, 0.207); */
    border-top: .5px solid rgba(204, 204, 204, 0.562);
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.postFooter:hover {
    background-color: rgba(252, 253, 253, 0.765);
}

.noBorderRadius {
    border-radius: 0px;
}

.postFooter p {
    margin: 0 0 0 5px;
    font-size: 0.8rem;
    font-weight: 400;
}

.footerLeftSide {
    flex: 6;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footerLeftSide .postCommentIconHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}



.postCommentIconHolder {
    padding: 4px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.713);
    border-radius: 5px;
}

.postLikes {
    margin: 0 10px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.713);
    border-radius: 5px;
}

.likeIcon.liked,
.likeCounter.liked {
    color: #2e69ff;
}

.postCommentIconHolder:hover,
.postLikes:hover,
.postSave:hover {
    background-color: rgba(227, 226, 226, 0.333);
}

.footerRightSide {
    flex: 4;
    display: flex;
    justify-content: flex-end;
}

.footerRightSide .postSave {
    margin: 0 10px;
    padding: 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.713);
    border-radius: 5px;
}

.saved {
    color: red;
}

.postComments {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    /* border-bottom: 1px solid #ccc; */
}

.postComments.noDisplay {
    display: none;
}

.postAComment {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(227, 226, 226, 0.333);
}

.postAComment .profileImage {
    width: 35px;
    height: 35px;
    object-fit: cover;
    cursor: pointer;
    /* border: 1px solid #ccc; */
    border-radius: 50%;
}

.postAComment textarea {
    width: 65% !important;
    height: 34px;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 8px 10px;
    background: #FFFFFF;
    border: 1px solid #9C9797;
    font-size: 0.8rem;
    font-weight: 500;
    border: none;
}

.postACommentBtn {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 0.7rem;
    font-weight: 500;
    color: #fff;
    background-color: #516df8;
    cursor: pointer;
    transition: .2s;
}

.postACommentBtn:hover {
    background-color: #3757FF;
}