.signup {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(55, 87, 255, 0.05);
}

.signupForm {
  width: 30%;
  height: fit-content;
  padding: 0 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.139);
}

.shortTextContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeTextSmall {
  margin: 0 0 10px 0;
  font-size: 0.9rem;
  font-weight: 700;
  color: #4b4b5a;
}


.googleSignInBtn {
  margin-bottom: 20px;
  width: 80%;
  /* padding: 2px 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
}

.googleSignInBtn p {
  margin: 8px 0;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 35px;
  color: #495057;
}

.googleLogo {
  margin-left: 5px;
  font-size: 1.5rem;
}

.googleSignInBtn:hover {
  background-color: rgba(55, 87, 255, 0.05);
  color: #eee;
  border: 1px solid #d1d1d1;
}

.loginOrDecoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginOrDecoWrapper hr {
  width: 45%;
  /* border: 0.4px solid #495057; */
}

.loginOrText {
  margin-bottom: 20px;
  font-size: 1.09375rem;
  font-weight: 600;
  color: #4b4b5a;
}


.formNameBoxContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signupFormBox {
  width: 48%;
}

.formNameBoxInput {
  width: 100%;
}

.firstNameFormBoxInput {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.signup .signupBtn {
  margin: 15px 0;
  width: 100%;
  /* height: 30px; */
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  background-color: #516df8;
  cursor: pointer;
  transition: .2s;
}

.signupBtn:hover {
  background-color: #3757FF;
}


.bottomInfoText {
  color: #6c757d;
}