.homepage {
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
}

main {
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    /* background-color: rgb(240, 240, 240); */
}


