.homepage {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    background-color: rgb(240, 240, 240);
    transform: translateZ(0);
}

.homepage main {
    position: relative;
    margin-top: auto;
    width: 100%;
    /* padding: 0 30px; */
    height: calc(100vh - 56px);
    /* padding-top: 100px; */
    display: flex;
    overflow-y: hidden;
}

.leftViewContainer {
    flex: 1.6;
    padding-top: 30px;
}

.feedViewContainer {
    flex: 4.6;
    /* margin-left: auto; */
    padding: 30px 25px 0 25px;
}

.rightViewContainer {
    flex: 2.5;
    padding-top: 30px;
}

.viewsOverflowStyle {
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.viewsOverflowStyle::-webkit-scrollbar {
    display: none;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
    .leftViewContainer {
        display: none;
    }
    
    .feedViewContainer {
        flex: 10;
        /* margin-left: auto; */
        padding: 0px 60px 0 60px;
    }
    
    .rightViewContainer {
        display: none;
    }
}

@media (max-width: 640px) {
    .feedViewContainer {
        padding: 10px 0 0 0;
    }
}