.homepage {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    background-color: rgb(240, 240, 240);
    transform: translateZ(0);
}

main {
    position: relative;
    margin-top: auto;
    width: 100%;
    /* padding: 0 30px; */
    height: calc(100vh - 56px);
    /* padding-top: 100px; */
    display: flex;
    overflow-y: hidden;
}

.leftViewContainer {
    flex: 1.7;
    padding-top: 30px;
}

.feedViewContainer {
    flex: 4.7;
    /* margin-left: auto; */
    padding: 30px 30px 0 30px;
}

.rightViewContainer {
    flex: 2.1;
    padding-top: 30px;
}

.viewsOverflowStyle {
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.viewsOverflowStyle::-webkit-scrollbar {
    display: none;
}