.topPicks {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}

.topPicksTitleText {
    margin: 0;
    padding: 10px 10px;
    font-size: 0.8rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 0.5px solid #ccc;
    cursor: pointer;
}

.topPicksList {
    list-style: none;
    padding: 0;
    margin: 0;
}

.topPicksListItem {
    padding: 8px 10px;
    /* border-radius: 5px; */
    border-bottom: 0.5px solid #ccc;
    
    /* margin-bottom: 10px; */
    font-size: 0.7rem;
    line-height: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.734);
    transition: ease-in-out 0.3s all;
    /* border-top: 1px solid #ccc; */
}

.topPicksListItem:hover {
    color: #000;
    background-color: rgba(227, 226, 226, 0.734);
}